.example-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .body-users{
    padding: 20px;
  }

  .content-img{
    padding: 5px 0px;
  }

  .img-user{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
  }
